{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% block navbar %}
        <li ><a href="/users/expert/index/" >首页</a></li>
        <li ><a href="/users/expert/profile/" >专家信息录入</a></li>
        <li class="active"><a href="/users/expert/changepassword/" >修改密码<span class="sr-only">(current)</span></a></li>
{% endblock %}
{% block navbarright %}
<ul class="nav navbar-nav navbar-right">

    <li><a href="#" class="btn btn-default btn-lg disabled" role="button">{% if current_user.is_authenticated %}
  Hi {{ current_user.UserName }} !
{% endif %}</a>
    </li>
    <li><a href="/users/logout/" >注销</a></li>
</ul>

{% endblock %}
{% block content %}
<div class="container">
<div class="jumbotron">
  <h1>修改密码</h1>
  <p>等等再做</p>
</div>
</div>
{% endblock %}