{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% block navbar %}
        <li ><a href="/users/expert/index/" >首页</a></li>
        <li ><a href="/users/expert/profile/" >专家信息录入</a></li>
        <li class="active"><a href="/users/expert/changepassword/" >修改密码<span class="sr-only">(current)</span></a></li>
{% endblock %}
{% block navbarright %}
<ul class="nav navbar-nav navbar-right">

    <li><a href="#" class="btn btn-default btn-lg disabled" role="button">{% if current_user.is_authenticated %}
  Hi {{ current_user.UserName }} !
{% endif %}</a>
    </li>
    <li><a href="/users/logout/" >注销</a></li>
</ul>

{% endblock %}
{% block content %}
<div class="container">
<form id="ChangeCodeForm" class="form-signin">
    <h2 class="form-signin-heading">修改密码</h2>
    <div id="Old_CodeForm" class="form-group">
        <label for="Old_Code">旧密码</label>
        <input type="password" class="form-control" id="Old_Code" placeholder="旧密码" align="center"   required-message="请填写旧密码" required>
    </div>
    <div id="New_CodeForm" class="form-group">
        <label for="Old_Code">新密码</label>
        <input type="password" class="form-control" id="New_Code" placeholder="新密码" align="center"  required-message="密码长度为6-20个字符" required>
    </div>
    <div id="NGNew_CodeForm" class="form-group">
        <label for="Old_Code">重复新密码</label>
        <input type="password" class="form-control" id="NGNew_Code" placeholder="重复新密码" align="center" required>
    </div>
    <button id="ChangeCodeSubmit" type="submit" class="btn btn-lg btn-primary btn-block">确认</button>
</form>

</div>

{% endblock %}