{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
      {% block extendscript %}
<link href="/static/css/cover.css" rel="stylesheet">
      {% endblock extendscript %}
{% block navbar %}
        <li class="active"><a href="/users/expert/index/" >首页<span class="sr-only">(current)</span></a></li>
        <li><a href="/users/expert/profile/" >专家信息录入</a></li>
        <li><a href="/users/expert/changepassword/" >修改密码</a></li>
{% endblock %}

{% block navbarright %}
<ul class="nav navbar-nav navbar-right">

    <li><a href="#" class="btn btn-default btn-lg disabled" role="button">{% if current_user.is_authenticated %}
  Hi {{ current_user.UserName }} !
{% endif %}</a>
    </li>
    <li><a href="/users/logout/" >注销</a></li>
</ul>

{% endblock %}
  {% block message %}
<div class="container">
{% for message in get_flashed_messages() %}
  <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button> {{ message }}{% endfor %}
  </div>
    </div>
  {% endblock  %}
{% block content %}
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">填表须知</h1>
        <p class="lead blog-description">填写前请仔细阅读以下注意事项</p>
        <table class="table table-hover">
            <tr><td>1.带<span style="color:red">*</span>为必须填写，且在提交之后不能修改</td></tr>
            <tr><td>2.证书编号和证书有效时间由管理员在审核通过之后进行填写，用户不得自己填写</td></tr>
            <tr><td>3.日期均从日历中选择，用户不得自己填写</td></tr>
            <tr><td>4.回避单位是用户曾经工作过的单位或者正在工作的单位</td></tr>
        </table>
      </div>
</div>
{% endblock %}